 
#googlemaps { 
  opacity:0.45;
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#form { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  opacity: .95; /* Set the opacity for a slightly transparent Google Form */ 
}    

body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white !important;
    overflow:hidden;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    }

    .searchbar > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
     background: white;
    color: #e74c3c;
    }