.main {
    position: absolute;
    height: 100%;
    width: 100%;
}

.park-hidden-btn {
    display: none;
}

.park-confirm-btn {
    position: absolute;
    top: 10%;
    left: 52%;
    z-index: 2;
}
#googlemaps { 
  height: 91%; 
  width: 100%; 
  position:absolute; 
  bottom: 0; 
  left: 0; 
  z-index: -1; /* Set z-index to 0 as it will be on a layer below the contact form */
}
